#title {
    background-color: black;
    color: brown;
    text-align: center
}
.box {
    margin: 10px;
    
}
#banner {
    border-style: solid;
    border-width: 10px;
}
.left {
    background-color: cadetblue;
    float: left;
    height:50vh;
    width: 50%;
}
.right {
    background-color: darkcyan;
    float: right;
    height: 50vh;
    width: 50%;
}
#container {
    background-color: darkcyan;
}
#tfloat {
    float: right
}
#img {
    float: left;
}